@font-face{
    font-family: 'Britannic Bold';
    src: url('../../components/font/BRITANIC.ttf');
}

.home_page{
    position: relative;
    width: 1257px;
    margin-left: auto;
    margin-right: auto;
}
.company{
    width:100%;
    height: 56px;
    text-align: center;
    position: relative;
    display: block;
}

.english_name{
    font-family:"Britannic Bold";
    font-size:39px;
    color: rgb(236, 125, 65);
}
.chinese_name{
    font: "黑体";
    font-size: 35px;
    color: rgb(236, 125, 65);
    margin-left:16px;
    letter-spacing:2px;
}
.tool_bar{
    width: 100%;
    position: relative;
}
.L1{
    width: 100%;
    height: 1px;
    background-color: rgb(3, 19, 36);
}
.meun{
    width: 100%;
    height: 48px;
    background-color: rgb(3, 19, 36,0.8);
    background-position: center;
    display: block;
    margin-top: 4px;
}
.meun_bar{
    position: relative;
    margin-left: -6px;
}
.item1 {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 6px;
    margin-left: 89px;
    margin-top: 8px;
    color: white;
    height: 48px;
}

/*定位下拉内容*/
.addition{
    position: relative;
}
/*下拉菜单内容，设置为隐藏*/
.drop-down-content{
    padding: 0;
    display: none;
    position: absolute;
    background-color: #354250;
    margin-left: -40px;
    margin-top: 10px;
    z-index: 4;
    list-style: none;
}
/*下拉菜单链接的样式*/
.item2{
    display: block;
    text-decoration: none;
    width: 133px;
    height: 48px;
    text-align: center;
    line-height: 45px;
    color: white;
}
/*鼠标移入后显示下拉菜单*/
.addition:hover .drop-down-content{
    display: block;
}
/*鼠标移入后修改链接的背景色*/
.item2:hover {
    background-color: rgb(236, 125, 65);
}
