.special_frame_xl{
    background-image: url(../images/add_info_sales/special_fame_b.png);
    height: 712px;
    width: 509px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 370px;
}
.lx{
    height: 27px;
    width: 250px;
    font-family: "微软雅黑"；
}
.hx{
    margin-left: 5px;
    margin-top: 3px;
}
.shi{
    height: 25px;
    width: 20PX;
    border: 0px;
    padding-left: 6px;
}
.ting{
    height: 25px;
    width: 20PX;
    border: 0px;
    margin-left: 12px;
    padding-left: 6px;
}
.mj{
    height: 25px;
    width: 40px;
    border: 0px;
    padding-left: 2px;
}
.lc{
    height: 25px;
    width: 40px;
    border: 0px;
    margin-left: 39px;
    padding-left: 2px;
}
.zj{
    height: 25px;
    width: 40PX;
    border: 0px;
    margin-left: 15px;
    padding-left: 2px;
}
.park{
    height: 27px;
    width: 42px;
}
.finish_sales{
    background-color: #ec6941;
    height: 26px;
    width: 88px;
    display: block;
    border: 0px;
    margin-top: 260px;
    margin-left: 337px;
    font-family: "微软雅黑";
}
.facilities{
    background-color: white;
    height: 23px;
    text-align: center;
    padding-top: 3px;
}
.w2{
    width: 52px;
}
.w3{
    width: 66px;
}
.distance0_7{
    margin-left: 7px;
}
.distance88_9{
    margin-left: 95px;
    margin-top: 7px;
}
.distance9_7{
    margin-left: 7px;
    margin-top: 7px;
}