.add_page_common_background {
    background-image: url("../images/add_info_landlord/bg_img.png");
    height: 750px;
    width: 1257px;
}

.add_page_common_main_frame {
    border-style: solid;
    border-color: #ec6941;
    border-width: 1px;
    width: 509px;
    margin-top: 50px;
    margin-left: 30%;
}

.add_page_common_main_frame2 {
    border-style: solid;
    border-color: #ec6941;
    border-width: 1px;
    width: 509px;
    margin-top: 50px;
    margin-left: 50px;
}

.add_page_common_title {
    background-color: #ec6941;
    height: 30px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}

.add_page_common_item {
    margin-top: 12px;
    margin-left: 36px;
    width: 444px;
}

.add_page_common_key {
    background-color: #091b2b;
    height: 23px;
    width: 88px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 1px;
}

.add_page_common_value {
    height: 25px;
    width: 339px;
    padding-left: 6px;
}

.add_page_common_ok {
    background-color: #ec6941;
    height: 26px;
    width: 88px;
    margin-top: 25px;
    margin-left: 379px;
    margin-bottom: 25px;
}

.bdmap {
    width: 50%;
    height: 97%;
    margin-top: 10px;
    margin-left: 10px;
}

.add_area_page_symbol_content{
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    height: 17px;
    margin-left: 8px;
    margin-top: 8px;
}