.area_page_card {
    background-color: #eeeeee;
    height: 200px;
    width: 100%;
    margin-top: 20px;
}

.area_page_prev_image {
    height: 169px;
    width: 232px;
}

.area_page_symbol_content{
    background-color: #cccccc;
    padding-left: 8px;
    padding-right: 8px;
    height: 20px;
    margin-left: 8px;
    margin-top: 18px;
}