.area_page_card {
    background-color: #eeeeee;
    height: 200px;
    width: 100%;
    margin-top: 20px;
}

.area_page_prev_image {
    height: 169px;
    width: 232px;
}

.area_page_symbol_content{
    background-color: #cccccc;
    padding-left: 2px;
    padding-right: 2px;
    height: 18px;
    margin-left: 6px;
    margin-top: 6px;
}