.browse_filter{
    background-color: #eeeeee;
    height: 47px;
    width: 174px;
    margin-top: 12px;
}
.filter_male{
    background-image: url("../images/browse_landlord/male_b.png");
    height: 21px;
    width: 15px;
    border: 0px;
    background-color: transparent;
    margin-left: 13px;
    margin-top: 13px;
}
.vertical_line{
    background-color: #cccccc;
    height: 28px;
    width: 1px;
}
.line1{
    margin-left: -126px;
    margin-top: 8px;
}
.line2{
    margin-left: 93px;
    margin-top: 8px;
}
.filter_female{
    background-image: url("../images/browse_landlord/female_b.png");
    height: 21px;
    width: 15px;
    border: 0px;
    background-color: transparent;
    margin-left: 17px;
    margin-top: 13px;
}
.filter_rent{
    background-image: url("../images/browse_landlord/rent_b.png");
    height: 21px;
    width: 25px;
    background-color: transparent;
    border: 0px;
    margin-top: 13px;
    margin-left: 37px;
}
.filter_sales{
    background-image: url("../images/browse_landlord/sales_b.png");
    height: 21px;
    width: 23px;
    border: 0px;
    background-color: transparent;
    margin-top: 13px;
    margin-left: 17px;
}
.landlord_info_card{
    background-color: #eeeeee;
    height: 156px;
    width: 600px;
    margin-top: 12px;
}
.landlord_info_name{
    background-image: url("../images/browse_landlord/w_circle.png");
    height: 85px;
    width: 85px;
    margin-left: 16px;
    margin-top: 41px;
}
.person_name{
    margin-left: 20px;
    margin-top: 17px;
}
.person_age{
    margin-left: 30px;
    margin-top: 0px;
}
.landlord_sex{
    background-image: url("../images/browse_landlord/s_male_o.png");
    height: 15px;
    width: 11px;
    margin-left: 37px;
    margin-top: 2px;
}
.landlord_info_icon{
    margin-left: 20px;
    margin-top: 12px;
}
.deviation{
    margin-top: 10px;
}
.tele_img{
    background-image: url("../images/browse_landlord/tele.png");
    height: 14px;
    width: 8px;
    margin-left: 2px;
}
.identity_img{
    background-image: url("../images/browse_landlord/idnumber.png");
    height: 14px;
    width: 13px;
}
.obode_img{
    background-image: url("../images/browse_landlord/obode.png");
    height: 14px;
    width: 14px;
}
.house_resourde_img{
    background-image: url("../images/browse_landlord/house_source.png");
    height: 14px;
    width: 14px;
}
.commands_img{
    background-image: url("../images/browse_landlord/remarks.png");
    height: 14px;
    width: 11px;
    margin-left: 2px;
}
.landlord_mian_info{
    margin-top: 15px;
    margin-left: 5px;
    height: 120px;
    width: 250px;
}
.house_num{
    color: #ec6941;
    margin-left: -145px;
}
.landlord_tele{
    margin-top: 4px;
}
.landlord_edit{
    background-image: url("../images/browse_landlord/editon.png");
    height: 14px;
    width: 14px;
    border: 0px;
    float: right;
    margin-right: 1px;
    margin-top: 1px;
}
.landlord_last_time{
    float: right;
    margin-right: -13px;
    margin-top: 140px;
}