.in_middle {
    display: inline-block;
    vertical-align: middle;
}

.in_top {
    display: inline-block;
    vertical-align: top;
}

.in_text_top {
    display: inline-block;
    vertical-align: text-top;
}

.in_bottom {
    display: inline-block;
    vertical-align: bottom;
}

.in_text_bottom {
    display: inline-block;
    vertical-align: text-bottom;
}

.m_l_2 {
    margin-left: 2px;
}

.m_l_5 {
    margin-left: 5px;
}

.m_l_6 {
    margin-left: 6px;
}

.m_l_8 {
    margin-left: 8px;
}

.m_l_13 {
    margin-left: 13px;
}

.m_r_8 {
    margin-right: 8px;
}

.m_t_35 {
    margin-top: 35px;
}

.m_t_16 {
    margin-top: 16px;
}

.m_t_12 {
    margin-top: 10px;
}

.m_t_5 {
    margin-top: 5px;
}

.b {
    display: block;
}

.i {
    display: inline;
}

.noborder {
    border: 0px;
}

.fr {
    float: right;
}

.edit_button {
    background-image: url("../images/browse_landlord/editon.png");
    height: 14px;
    width: 14px;
    border: 0px;
    background-color: transparent;
}

.m_l_r_auto {
    margin-left: auto;
    margin-right: auto;
}