.goto_page {
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 183px;
}

.goto_page_arrow_left {
    background-image: url("../images/browse_landlord/arrow_left.png");
}

.goto_page_arrow_right {
    background-image: url("../images/browse_landlord/arrow_right.png");
}

.goto_page_size {
    height: 35px;
    width: 35px;
}