.w15_2ch {
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
}

.w15_1ch {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}

.b15_1ch {
    font-size: 15px;
    color: black;
    letter-spacing: 1px;
}

.w16_1ch {
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
}

.w20_8ch {
    font-size: 20px;
    color: white;
    letter-spacing: 8px;
}

.w12_1ch {
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
}

.w20_1_ch {
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

.gray15_1_ch {
    font-size: 15px;
    color: gray;
    letter-spacing: 1px;
}
.gray15_0_ch {
    font-size: 15px;
    color: gray;
    letter-spacing: 0px;
}

.gray10_1_ch {
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
}
.gray10_0_ch {
    font-size: 10px;
    color: gray;
    letter-spacing: 0px;
}
.orange15_1_ch {
    font-size: 15px;
    color: rgb(236, 125, 65);
    letter-spacing: 1px;  
}

.orange15_0_ch {
    font-size: 15px;
    color: rgb(236, 125, 65);
    letter-spacing: 0px;  
}
.orange23_0_ch {
    font-size: 23px;
    color: rgb(236, 125, 65);
    letter-spacing: 0px;  
}

.orange_bg {
    background-color: rgb(236, 125, 65);
}

.b12_1_ch {
    font-size: 12px;
    color: black;
    letter-spacing: 1px;  
}
.b20_1_ch {
    font-size: 20px;
    color: black;
    letter-spacing: 1px;  
}

.B25_1_ch {
    font-size: 25px;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
}

.c666_15_1_ch {
    font-size: 15px;
    color: #666666;
    letter-spacing: 1px;  
}

.C666_23_3_ch {
    font-size: 23px;
    color: #666666;
    letter-spacing: 3px;
    font-weight: bold;
}
.b15_1_ch {
    font-size: 15px;
    color: black;
    letter-spacing: 1px;  
}

.w20_1ch {
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

.textalign_c {
    text-align: center;
}