.rp_condition_page{
    display: block;
    color: black;
    border: 1px solid;
    border-color: rgb(3, 19, 36);
    border-width: 1px;
    background-color: #eeeeee;
}

.rpcp_select_condition_item {
    color: rgb(236, 125, 65);
    text-decoration: underline;
}

.rpcp_normal_condition_item {
    color: black;
    text-decoration: none;
}

.rpcp_normal_condition_item:hover{
    color: rgb(236, 125, 65);
}

.rpcp_condition_item{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
    font-size: 14px;
}

.rpcp_contition_title {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 24px;
    font-weight: bold;
    color: black;
}

.rpcp_contition_sub_collection {
    display: block;
    position: relative;
    width: 1000px;
    height: 39px;
    margin-left: 110px;
    margin-top: -20px;
}

.rpcp_inner_frame {
    display: block;
    background-image: url("../images/sale_page/child_collection.png");
    background-repeat: no-repeat;
    height: 32px;
    margin-top: -6px;
    overflow-y: auto;
}

.rpcp_contition_page_style3{
    font-size: 12px;
    margin-left: 25px;
    height: 25px;
}

.rcpc_one_search_result{
    background-color: #354250;
    height: 20px;
    margin-left: 22px;
}

.rcpc_search_result_label{
    margin-left: 7px;
    height: 15px;
    margin-top: 3px;
}

.rcpc_search_result_close_btn{
    background-image: url("../images/sale_page/cross.png");
    width: 13px;
    height: 13px;
    border: 0;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}