.rp_condition_page{
    display: block;
    position: relative;
    color: black;
}

.rpcp_line{
    background-color: #cccccc;
    height: 1px;
    margin-top: 15px;
}

.rpcp_select_condition_item {
    color: rgb(236, 125, 65);
    text-decoration: underline;
}

.rpcp_normal_condition_item {
    color: black;
    text-decoration: none;
}

.rpcp_normal_condition_item:hover{
    color: rgb(236, 125, 65);
}

.rpcp_condition_item{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
    font-size: 14px;
}

.rpcp_contition_title {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 24px;
    font-weight: bold;
    color: black;
}

.rpcp_contition_sub_collection {
    display: block;
    width: 1100px;
    height: 39px;
    background-image: url("../images/sale_page/child_collection.png");
    background-repeat: no-repeat;
    background-position-y: 4px;
    margin-left: 110px;
    margin-top: -13px;
}

.rpcp_inner_frame {
    display: block;
    background-image: url("../images/sale_page/arrow.png");
    background-repeat: no-repeat;
    background-position-x: 75px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 32px;
}

.rpcp_inner_frame::-webkit-scrollbar {
    margin-top: 5px;
}

.rpcp_contition_page_style3{
    font-size: 12px;
    margin-left: 24px;
}

.rcpc_one_search_result{
    background-color: #354250;
    /* width: 93px; */
    height: 15px;
    margin-left: 22px;
    margin-top: 17px;
    display: inline-block;
}

.rcpc_search_result_label{
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
    height: 15px;
}

.rcpc_search_result_close_btn{
    display: inline-block;
    vertical-align: top;
    background-image: url("../images/sale_page/cross.png");
    width: 15px;
    height: 15px;
    border: 0;
    margin-left: 5px;
}