.staff_info_card{
    background-color: #eeeeee;
    height: 139px;
    width: 615px;
    margin-top: 30px;
}

.staff_portait{
    background-image: url("../images/browse_staff/portrait.png");
    background-repeat: no-repeat;
    background-position-y: 20px;
    height: 139px;
    width: 100px;
    position: relative;
}

.staff_page_content{
    width: 260px;
    height: 100px;
}

.staff_last_time {
    float: right;
    margin-right: 1px;
    margin-top: -16px;
}