@import "../common/css/common.css";

.background_pic{
    width: 100%;
    background-image: 
    url("./home/background.png");
    height: 829px;
    width: 1257px;
    margin-top: 4px;
    z-index: 1;
}
.logo_frame{
    background-color: rgb(3, 19, 36,0.9);
    background-image: url("./home/logo02.png");
    background-repeat: no-repeat;
    background-position-x: 541px;
    background-position-y: 72px;
    height: 829px;
    width: 1257px;
    margin-top: -829px;
    position: absolute;
    z-index: 3;
}
.form_frame{
    width: 900px;
    height: 39px;
    margin-left: 220px;
    margin-top: 167px;
    z-index: 2;
}
input[type="text"] {
    background-color: transparent;
    height: 39px;
    width: 711px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 2px;
}
.btn_search{
    background-image: url("./home/searchbutton.png");
    width: 114px;
    height: 39px;
    border: 0px;
    margin-left: -33px;
}