.browse_community_card{
    background-color: #eeeeee;
    height: 200px;
    width: 100%;
    margin-top: 20px;
}
.community_img{
    background-image: url(../images/browse_community/environment.png);
    height: 169px;
    width: 232px;
    margin-top: 16px;
    margin-left: 16px;
}
.community_img2{
    background-image: url(../images/browse_community/environment2.png);
    height: 169px;
    width: 232px;
    margin-top: 16px;
    margin-left: 6px;
}
.community_info_icon{
    margin-top: 56px;
    margin-left: 16px;
}
.community_location{
    background-image: url(../images/browse_community/address.png);
    height: 14px;
    width: 11px;
}
.community_around{
    background-image: url(../images/browse_community/around_area.png);
    height: 15px;
    width: 11px;
    margin-top: 22px;
}
.community_transport{
    background-image: url(../images/browse_community/transport.png);
    height: 13px;
    width: 13px;
    margin-top: 22px;
}
.community_name{
    margin-top: 13px;
    margin-left: 126px;
    position: absolute;
}
.community_info_content{
    margin-left: 5px;
    margin-top: 37px;
}
.community_info_location{
    margin-top: 16px;
}
.community_symbol{
    margin-top: 32px;
    margin-left: 26px;
    width: 330px;
}
.community_symbol_content{
    background-color: #cccccc;
    padding-left: 8px;
    padding-right: 8px;
    height: 20px;
    margin-left: 8px;
    margin-top: 18px;
}
.browse_community_edit{
    background-image: url(../images/browse_community/edit.png);
    margin-top: -183px;
    margin-right: 2px;
    height: 14px;
    width: 14px;
    float: right;
    border: 0px;
    background-color: transparent;
}
.browse_community_date{
    float: right;
    margin-right: 1px;
}