.community_tips{
    border: 0px;
    font-family: "微软雅黑"；
}
.obk{
    background-color: #999696;
    height: 23px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 3px;
    padding-top: 3px;
}