.staff_info_card{
    background-color: #eeeeee;
    height: 140px;
    width: 625px;
    margin-top: 30px;
}
.staff_portait{
    background-image: url(../images/browse_staff/portrait.png);
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-top: 20px;
    position: relative;
}
.staff_info_icona{
    margin-left: 8px;
    margin-top: 34px;
    width: 20px;
}
.staff_name_icon{
    background-image: url(../images/browse_staff/staff_name.png);
    height: 13px;
    width: 14px;
}
.staff_tele_icon{
    background-image: url(../images/browse_staff/tele.png);
    height: 14px;
    width: 8px;
    margin-top: 16px;
    margin-left: 3px;
}
.staff_indentity_icon{
    background-image: url(../images/browse_staff/idnumber.png);
    height: 14px;
    width: 13px;
    margin-top: 16px;
}
.staff_content_a{
    margin-left: 132px;
    margin-top: -100px;
    width: 260px;
}
.staff_content_name{
    margin-top: 10px;
}
.staff_info_iconb{
    margin-left: 355px;
    margin-top: -77px;
}
.staff_obode_icon{
    background-image: url(../images/browse_staff/obode.png);
    height: 14px;
    width: 14px;
}
.staff_achievement_icon{
    background-image: url(../images/browse_staff/house_source.png);
    height: 14px;
    width: 14px;
    margin-top: 16px;
}
.staff_remarks_icon{
    background-image: url(../images/browse_staff/remarks.png);
    height: 14px;
    width: 11px;
    margin-top: 16px;
    margin-left: 1px;
}
.staff_content_b{
    margin-left: 375px;
    margin-top: -111px;
}
.staff_edit{
    background-image: url(../images/browse_staff/editon.png);
    height: 14px;
    width: 14px;
    border: 0px;
    float: right;
    margin-right: 1px;
    margin-top: -110px;
    background-color: transparent;
}
.staff_last_time{
    float: right;
    margin-top: 16px;
    margin-right: 1px;
}

