@font-face {
    font-family: 'Britannic Bold';
    src: url('../font/BRITANIC.ttf');
}

.tc_logo {
    display: block;
    text-align: center;
    position: relative;
    height: 56px;
}

.tc_logo_english_name {
    font-family:"Britannic Bold";
    font-size:39px;
    color: rgb(236, 125, 65);
    display: inline-block;
    text-align: center;
}

.tc_logo_chinese_name {
    font-size: 35px;
    color: rgb(236, 125, 65);
    letter-spacing:2px;
    margin-left:16px;
    display: inline-block;
    text-align: center;
}

.tc_tool_bar {
    display: block;
}

.tc_line {
    display: block;
    height: 1px;
    background-color: rgb(3, 19, 36);
}

.tc_toolbar_meun {
    display: block;
    height: 48px;
    background-color: rgb(3, 19, 36,0.8);
    margin-top: 4px;
}

.tc_tb_meun_label {
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: 133px;
    text-align: center;
    letter-spacing: 6px;
    padding-top: 13px;
}

.tc_tb_drop_down_content {
    display: none;
    background-color: #354250;
    list-style: none;
    width: 133px;
    padding-left: 0;
    margin-top: 10px;
}

.tc_tb_meun_dropdown_label {
    height: 48px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 6px;
}

.tc_tb_meun_addition:hover .tc_tb_drop_down_content {
    display: block;
}

.tc_tb_meun_dropdown_label:hover {
    background-color: rgb(236, 125, 65);
}

.tc_tb_menu_label_hilight:hover {
    color: rgb(236, 125, 65);
}

.tc_tb_current_menu {
    background-color: rgb(236, 125, 65);
}

.tc_search{
    display: block;
    height: 47px;
    margin-top: -11px;
    background-image: url("../images/sale_page/search_frame.png");
}

.tc_btn{
    display: inline-block;
    background-image: url("../images/sale_page/search.png");
    background-position: center;
    vertical-align: top;
    width: 27px;
    height: 47px;
    margin-left: 90px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
}

.tc_input_frame {
    display: inline-block;
    background-color: transparent;
    width: 1125px;
    height: 39px;
    margin-left: 5px;
    margin-top: 3px;
    border: 0;
    padding-left: 5px;
}