.background {
    background-image: url("./login/background.png");
}

.modal-left {
    background-color: rgba(3, 13, 25, 0.9);
    background-image: url("./login/LOGO01.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 447px;
    height: 829px;
}

.modal-right {
    height: 829px;
    width: 810px;
    float: right;
    margin-top: -829px;
}

.modal-content {
    background-color: rgba(3, 13, 25, 0.8);
    width: 316px;
    height: 385px;
    margin-top: 224px;
    margin-left: 247px;
    border-radius: 0px;
}

.login_title {
    text-align: center;
    text-align-last: center;
    height: 50px;
}

.loginName {
    height: 13px;
    margin-top: 24px;
    margin-left: 40px;
}

.passLabel {
    height: 13px;
    margin-top: 40px;
    margin-left: 40px;
}

/* Full-width input fields */
.input_size {
    width: 264px;
    height: 30px;
}

.input_sty {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 35px;
    margin-right: 35px;
}

/* Add a background color when the inputs get focus */
.input_sty:focus {
    background-color: #ddd;
    outline: none;
}

.input_sty::-webkit-input-placeholder { padding-left: 10px; font-size: 12px; letter-spacing: 2px; }
.input_sty:-moz-placeholder { padding-left: 10px; font-size: 12px; letter-spacing: 2px; }
.input_sty::-moz-placeholder { padding-left: 10px; font-size: 12px; letter-spacing: 2px; }
.input_sty:-ms-input-placeholder { padding-left: 10px; font-size: 12px; letter-spacing: 2px; }

.btn_ok {
    background-color: rgb(236, 105, 65);
    color: white;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 55px;
    height: 30px;
    width: 246px;
    border: 0px;
}

input[type=checkbox] {
    display: none;
}


.remeber_sty::after {
    content: url("./login/nick.png");
    display: block;
    margin-left: -18px;
    margin-top: -16px;
}


input[type=checkbox] ~ .remeber_sty:hover {
    opacity: 0.9;
}

input[type=checkbox]:checked ~ .remeber_sty::after {
    content: url("./login/nick02.png");
}

.remeber_sty {
    margin-left: 55px;
    margin-top: 59px;
    bottom: 1px;
}