@import "../common/css/common.css";

.search{
    width: 100%;
    height: 47px;
    position: relative;
    margin-top: 4px;
    display: block;
}
.search_logo{
    background-image: url("./sale_page/search_frame.png");
    width: 100%;
    height: 47px;
    display: block;
}
input[type="text"]{
    background-color: transparent;
    width: 1000px;
    height: 47px;
    margin-top: -47px;
    margin-left: 60px;
}